@import url('FA/css/all.min.css');

.title{
    background-color: white;
    width:95%;
    left:auto;
    right:auto;
    top:15%;
    height: 75px;
    border-radius:25px;
    display:flex;
    border:2px solid black;
    position:relative;

}
.snippet{
    width:100%;
    height:auto;
    background-color: grey;
    text:black;
    margin-top:-5px;
    font-size: clamp(.6rem, -0.875rem + 3.333333vw, .99rem);
    
}
.title3{
    background-color: white;
    width:100vw;
    left:auto;
    right:auto;
    top:15%;
    height: 25vh;
    display:flex;
    border:2px solid black;
    position:relative;

}
.title7{
    background-color: white;
    width:90vw;
    top:10px;
    left:auto;
    right:auto;
    height: 25vh;
    color:white;
    display:flex;
    border:2px solid black;
    position:relative;

}
.specheight{
    height:30vh;
}
.title7:hover{
    background-color: white;
    width:95vw;
    top:10px;
    left:auto;
    right:auto;
    height: 30vh;
    color:white;
    display:flex;
    border:2px solid black;
    position:relative;
    border-color: #26bf47;
    box-shadow: 0 0 10px #26bf47;
}
.me{
    bottom:0;
    left:50%;
}
.title2{
    background-color: white;
    width:100vw;
    left:auto;
    right:auto;
    top:15%;
    height:130px;
    display:flex;
    border:2px solid black;
    position:relative;

}
.container{
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
}
.container4{
    width:100vw;
    height:auto;
    display:flex;
    justify-content: center;
}
.title>img{
    
    size:cover;
}
.carousel1{
    background-image: url('./goodbg.jpg');
    height:40vh;
    width:90%;
    position: relative;
    background-size:cover;
    display:flexbox;
    justify-content: center;
    align-items: center;
}
.carousel2{
    background-image: url('lib/assets/img/awsec2.png');
    height:40vh;
    width:90%;
    position: relative;
    background-size:100% 100%;
    display:flexbox;
    justify-content: center;
    align-items: center;
}
.carousel3{
    background-image: url('./future2.jpg');
    height:40vh;
    width:90%;
    position: relative;
    background-size:cover;
    display:flexbox;
    justify-content: center;
    align-items: center;
}
.carouselTxt{
    color:white;
    font-size:220%;

}
.readNow{
    position:absolute;
    bottom:0;
    border-radius:25px;
    display:flex;
    justify-content: center;
    background-color: white;
    font-size:100%;
    color:black;
    text-align: center;
    vertical-align: middle;
    left:50%;
    transform: translate(-50%);
    height:10%;
    width:50%;
}
.carousel{
    width:30vh;
    height:75vw;
}
.leftSide{
    left:0;
    height:100%;
    width:33%;
    background-image:url('./goodsize.jpg');
    background-size:cover;

}
.leftSide2{
    left:0;
    height:100%;
    width:33%;
    background-image:url('./goodbg.jpg');
    background-size:cover;

}
.Okay{
    padding-top:50px;
    bottom:50px;
    color:black;
    font-size:150%;
}
.rightSide{
   
    width:67%;
    height:100%;
    right:0;
    font-size:x-large;
    align-items: center;
   position:relative;
    text-align:center;
    display:flex;
   
}
.myText{   
    color:black;
    position:relative;
    vertical-align: middle;
    left:50%;
    font-size:130%;
    transform:translate(-50%);
    font-family: 'Russo One', sans-serif;
}
.myText2{  
    color:black;
    position:relative;
    vertical-align: middle;
    left:50%;
    font-size: clamp(.9rem, -0.875rem + 4.333333vw, 2.5rem);
    transform:translate(-50%);
    font-family: 'Russo One', sans-serif;
}
.myText7{  
    color:white;
    position:relative;
    vertical-align: middle;
    left:50%;
    font-size:2.5vmin;
    transform:translate(-50%);
    font-family: 'Russo One', sans-serif;
}
.topic{
    color:orange;
    line-height:3vmin;
   
}
.topic::before {
    font-weight:900;
    font-family: 'Font Awesome 6 Free';
    font-size: clamp(.8rem, -0.875rem + 3.333333vw, 1.5rem);
    position: absolute;
    left:10px;
       top:0.19rem;
    color: black;
    /* change icon code here */
    content: '\f558';
    /* optional animation */
   
   }
   .topic2{
    color:orange;
    font-size: 1.5vmin;
    padding-left: 1.9vmin;
  
}
.topic2::before {
    font-weight:900;
    font-family: 'Font Awesome 6 Free';
    font-size: 1.5vmin;
    position: absolute;
    line-height:1.5vmin;
    left:1px;
       top:0.19rem;
    color: white;
    /* change icon code here */
    content: '\f558';
    /* optional animation */
   
   }
   .author{
    line-height:3vmin;
    color:black;
   
}
.published{
    line-height:3vmin;
   
}
.published::before {
    font-weight:900;
    font-family: 'Font Awesome 6 Free';
    font-size: clamp(.8rem, -0.875rem + 3.333333vw, 1.5rem);
    position: absolute;
    left:10px;
    margin-right:12vw;
    margin-left:-.5vw;
       top:0.19rem;
    color: black;
    /* change icon code here */
    content: '\f073';
    padding-right:5vw;
    /* optional animation */
   
   }
   .published2{
    
    font-size: 1.5vmin;
    padding-left: 1.9vmin;
   }
   .published2::before {
       font-weight:900;
       font-family: 'Font Awesome 6 Free';
       font-size: 1.5vmin;
       position: absolute;
       left:1px;
       line-height:1.5vmin;
          top:0.19rem;
       color: white;
       /* change icon code here */
       content: '\f073';
       /* optional animation */
      
      }
   .author{
    color:black;
   
}
.snippet{
    width:max(75vw);
    height:auto;
    background-color: grey;
text-align:center;
    color:white;
}
.articlePic{
    width:60vw;
    height:40vh;
    margin:auto;
}
.contents7{
    overflow-y:scroll;
    width:75%;
    background-color: white;
    height:90%;
    left:50%;
    color:black;
    bottom:5%;
    transform: translate(17%);
    justify-content: center;
    text-align: center;
    line-height:5%;
}
.rightside7{
    font-size:2.9vmin;
}
.precontents{
    line-height:4.5vmin;
}
.author::before {
    font-weight:900;
    font-family: 'Font Awesome 6 Free';
    font-size: clamp(.8rem, -0.875rem + 3.333333vw, 1.5rem);
    position: absolute;
    left:10px;
       top:0.19rem;
    color: black;
    /* change icon code here */
    content: '\f508';
    /* optional animation */
   
   }
   .author2{
    color:white;
    font-size: 1.5vmin;
    margin-left:0;
    margin-right:0;
    padding-left: 1.5vmin;
   
}
.author2::before {
    font-weight:900;
    font-family: 'Font Awesome 6 Free';
    font-size: 1.2vmin;
    position: absolute;
    left:1px;
    right:1px;
   margin-left:1px;
       top:0.19rem;
    color: white;
    /* change icon code here */
    content: '\f508';
    /* optional animation */
   
   }
   .articletop{
    padding: 0;
    list-style-type: none;
   line-height: 2.62;
   display:inline-flex;
   }
   .articletop2{
    display:inline-flex;
    justify-content: space-around;
    width:100%;
    padding: 0;
    list-style-type: none;
   line-height: 1.62;

   }
.myBody{
    display:inline-block;
    overflow-x: hidden;
    background-color:rgb(226 232 240);
    color:white;
    width:100%;
    height:auto;
    display:block;
}
.articleBody{
    top:10px;
    position:relative;
    height:auto;
    display: block;
    color:black;
    display:block;
    padding-bottom:100px;
    width:95%;

}
.blk{color:black;}
.mainBody{
    background-color: white;
    width:100%;
    height:100%;
    left:auto;
    right:auto;
    top:5%;
    height:auto;
    border-radius:25px;
    display:block;
    position:relative;

}
.container2{
    position:relative;
    display:flexbox;
    justify-content: center;
    width:100%;
    height:auto;
}
.articleTitle{
    color:black;
    position:relative;
    vertical-align: middle;
    align-items: center;
    font-size:130%;
    left:50%;  
    left:auto;
    right:auto;
    top:0;
    width:100%;
    font-family: 'Russo One', sans-serif;
    display:flexbox;
    text-align: center;
}
.linkToSections{
    color:black;
    position:relative;
    vertical-align: middle;
    align-items: center;
    font-size:100%;
    left:50%;  
    left:auto;
    right:auto;
    top:0;
    width:100%;
    font-family: 'Russo One', sans-serif;
    display:flexbox;
    text-align: center;
}
.contentLinks{
    text-align: center;
    align-items: center;
    left:23%;

}
.show{color:black;
    position:relative;
    align-items: center;
    left:auto;
    right:auto;
    
    
}
.majorSubsection{
    margin-top: 3%;
    height:auto;
    left:2.5%;
    display:flexbox;
    justify-content: center;
    padding-bottom:10px;
    width:100%;
    position:relative;
    color:black;
    border:solid grey;
}
.subtitle{
        /* Renamed property in CSS3 draft spec */
    width: 100%;
    display:flex;
    padding-bottom:15px;
    justify-content: center;
    position:relative;
    color:black;
    font-size: clamp(1.0rem, -0.875rem + 4vw, 1.9rem);
   
  
    
}
.sub{
   align-items: center;

}
.SubSubtitle{
    width:100%;
    left:0;
    display:flexbox;
    justify-content: left;
    position:relative;
}
.subSubHeading{
    left:0;
    color:black;
    display:flexbox;

    position: relative;
    padding-left: 1.62rem;
    font-size: clamp(.9rem, -0.875rem + 1vw, 1.3rem);
}
.subBullets{
    left:-5%;
    color:black;
    font-size:100%;
}
.holdBullets{
    width:100%;
    left:-5%;
    display:inline;
    justify-content: left;
    font-size:120%;
}
ul {
    padding: 0;
    list-style-type: none;
   line-height: 2.62;
   }
  
   
   li {
    position: relative;
    padding-left: 1.62rem;
    font-size: clamp(.6rem, -0.875rem + 3.333333vw, 1.21rem);
 
   }
   .li1{
    position: relative;
    padding-left: 1.62rem;
    font-size: clamp(.8rem, -0.875rem + 4vw, 1.1rem);

   }
   .li2{
    
padding-left: 2.6rem;
font-size: clamp(.6rem, -0.875rem + 3.333333vw, .99rem);
   }
   .li1::before {
    font-family: 'Font Awesome 6 Free';
    font-size: clamp(.8rem, -0.875rem + 4vw, 1.1rem);
    position: absolute;
       top:0.19rem;
    left: 0;
    color: crimson;
    /* change icon code here */
    content: "\f069";
    /* optional animation */
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
   }

   .li2::before {
    font-weight:900;
    font-family: 'Font Awesome 6 Free';
    font-size: clamp(.6rem, -0.875rem + 3.333333vw, .99rem);
    position: absolute;
       top:0.19rem;
    left: 10px;
    color: crimson;
    /* change icon code here */
    content: '\f054';
    /* optional animation */
   
   }
   
    .bulletList{
        float:left;
        left:0;
    }

    @-moz-keyframes spin {
        100% {
         -moz-transform: rotate(360deg);
        }
       }
       
       @-webkit-keyframes spin {
        100% {
         -webkit-transform: rotate(360deg);
        }
       }
       @-webkit-keyframes bounce {
        30%{
            left:15px;
        }
        32%{
            left:12px;
        }
        34%{left:15px}

        45%{left:15px}
        100%{
            left:0px;
        }
       
   
       }
      
       /*
       @-moz-keyframes bounce {
        from{left:0px}
        to{left:15px}
       
        
        }
        @keyframes bounce {
            from{left:0px}
            to{left:15px}
          
            }*/
       
       @keyframes spin {
        100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
        }
       }



